@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Urbanist:wght@400;600;700&display=swap");
@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: inline-block;
  animation: scroll-text 12s linear infinite;
}
::-webkit-scrollbar {
  display: none;
}
